<!DOCTYPE html>
<html>
<head>
    <title>AdminPage</title>
</head>
<body>
    <div style="border:solid; width:500px;">
        <h2>AdminPage</h2>
        <h3 style="padding-left:3px">Új termék</h3>
        <form method="post">
            <div style="width:500px; text-align:center; margin:3px">
                <input id="tbNev" name="tbNev" type="text" value="Név" />
                <input id="tbAr" name="tbAr" type="text" value="Ár" />
            </div>
            <div style="width:500px; text-align:center; margin:3px">
                <input id="tbLeiras" name="tbLeiras" type="text" value="Leírás" />
                <input id="tbSpecifikacio" name="tbSpecifikacio" type="text" value="Specifikáció" />
            </div>
            <div style="width:500px; text-align:center; margin:3px">
                <input id="fileKep" name="fileKep" type="file" value="Kép" />
            </div>
            <h3 style="padding-left:3px">Módosítás</h3>
            <div style="width:500px; text-align:center; margin:3px">
                <select>
                    <option>
                        Válassz terméket
                    </option>
                </select>
            </div>
            <div style="width:500px; text-align:center; margin:3px">
                <input name="tbNev" type="text" value="Név" />
                <input name="tbAr" type="text" value="Ár" />
            </div>
            <div style="width:500px; text-align:center; margin:3px">
                <input name="tbLeiras" type="text" value="Leírás" />
                <input name="tbSpecifikáció" type="text" value="Specifikáció" />
            </div>
            <div style="width:500px; text-align:center; margin:3px">
                <input name="fileKep" type="file" value="Kép" />
            </div>
            <h3 style="padding-left:3px">Törlés</h3>
            <div style="width:500px; text-align:center; margin:3px">
                <select>
                    <option>
                        Válassz terméket
                    </option>
                </select>
            </div>
            <div style="width:500px; text-align:center; margin:3px">
                <input type="submit" value="Mentés">
            </div>
        </form>
    </div>
</body>
</html>

