<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
	<meta charset="utf-8" />
</head>
<body>
    <div style="border:1px solid black; width:900px; height:550px;">
        <div style="display:inline-block; padding:10px;">
            <div style="padding:5px; padding-bottom:120px">
                <div>
                    <input type="image" src="monitor.jpg" width="50" height="50" />
                </div>
            </div>
            <h5>Termékek</h5>
            <div style="padding:5px">
                <select style="width:175px">
                    <option value="volvo">Notebook</option>
                    <option value="saab">Gép</option>
                    <option value="mercedes">Hűtő</option>
                    <option value="audi">Táska</option>
                </select>
            </div>
            <div style="padding:5px">
                <select style="width:175px">
                    <option value="volvo">Asztali számítógép</option>
                    <option value="saab">Asus</option>
                    <option value="mercedes">Dell</option>
                    <option value="audi">Fujitsu</option>
                </select>
            </div>
            <div style="padding:5px">
                <select style="width:175px">
                    <option value="volvo">Számítógép komponensek</option>
                    <option value="saab">Alaplap</option>
                    <option value="mercedes">Processzor</option>
                    <option value="audi">Videókártya</option>
                </select>
            </div>
            <div style="padding:5px">
                <select style="width:175px">
                    <option value="volvo">Számítógép perifériák</option>
                    <option value="saab">Billentyűzet</option>
                    <option value="mercedes">Egér</option>
                    <option value="audi">Hangfal</option>
                </select>
            </div>
            <div style="padding:5px">
                <select style="width:175px">
                    <option value="volvo">Számítógép tartozékok</option>
                    <option value="saab">Egérpad</option>
                    <option value="mercedes">Pendrive</option>
                    <option value="audi">Kábel</option>
                </select>
            </div>
            <div style="padding:5px">
                <select style="width:175px">
                    <option value="volvo">Megjelenítők</option>
                    <option value="saab">Samsung</option>
                    <option value="mercedes">LG</option>
                    <option value="audi">Asus</option>
                </select>
            </div>
            <div style="padding:5px">
                <a href="ProductList">Termék lista</a>
            </div>
        </div>
        <div style="text-align:center; margin-top:20px; display:inline-block">
            <div>
                <div style="display:inline-block;">
                    <input type="text" value="Keresés" width="50" />
                </div>
                <div style="display:inline-block;">
                    <div style="display:inline-block;">
                        <div>
                            <input type="button" value="Bejelentkezés" />
                        </div>
                        <div>
                            <a href="Registration">Elfelejtett jelszó</a>
                        </div>            
                    </div>
                    <div style="display:inline-block;">
                        <div>
                            <input type="text" value="Felhasználó név" />
                        </div>
                        <div>
                            <input type="text" value="Jelszó" />
                        </div>
                    </div>
                    <div style="display:inline-block;">
                        <div>
                            <a href="Registration">Regisztráció</a>
                        </div>
                        <div>
                            <a href="AdminPage">AdminPage</a>
                        </div>                  
                    </div>
                </div>
            </div>
            <div style="padding-top:20px">
                <div style="border:1px solid black; width:250px; height:450px; display:inline-block">
                    Akció
                    <div style="display:inline-block;">
                        <div style="border:1px solid black; width:200px; height:110px; margin:10px;">
                            <div style="text-align:left; padding-top:20px; padding-left:10px">
                                <img width="70" height="70" src="monitor.jpg"/>
                                <a href="Product">Részletek</a>
                            </div>
                        </div>
                        <div style="border:1px solid black; width:200px; height:110px; margin:10px;">
                            <div style="text-align:left; padding-top:20px; padding-left:10px">
                                <img width="70" height="70" src="monitor.jpg"/>
                                <a href="Product">Részletek</a>
                            </div>
                        </div>
                        <div style="border:1px solid black; width:200px; height:110px; margin:10px;">
                            <div style="text-align:left; padding-top:20px; padding-left:10px">
                                <img width="70" height="70" src="monitor.jpg"/>
								<a href="Product">Részletek</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border:1px solid black; width:250px; height:450px; display:inline-block;">
                    Akció
                    <div style="display:inline-block;">
                        <div style="border:1px solid black; width:200px; height:110px; margin:10px;">
                            <div style="text-align:left; padding-top:20px; padding-left:10px">
								<img width="70" height="70" src="monitor.jpg"/>
								<a href="Product">Részletek</a>
                            </div>
                        </div>
                        <div style="border:1px solid black; width:200px; height:110px; margin:10px;">
                            <div style="text-align:left; padding-top:20px; padding-left:10px">
								<img width="70" height="70" src="monitor.jpg"/>
								<a href="Product">Részletek</a>
                            </div>
                        </div>
                        <div style="border:1px solid black; width:200px; height:110px; margin:10px;">
                            <div style="text-align:left; padding-top:20px; padding-left:10px">
								<img width="70" height="70" src="monitor.jpg"/>
								<a href="Product">Részletek</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
